
<div class="container">
  <div class="row">
  <%= image_tag("cosmetics.jpg", width: '90%', height: '80%', class: "mx-auto") %>
  </div>
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <h1>「韓国コスメで、毎日のスキンケアをもっと楽しく。」</h1>
      <p>韓国コスメは、品質の高さやデザイン性にも注目が集まっています。</p>
      <p>私たちは、多彩な商品を揃え、毎日のスキンケアをより楽しく、効果的にしていただけるようサポートしています。</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>
